<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.UserDaoMapper">
	<resultMap id="userBO" type="com.website.model.bo.UserBO">
		<id column="ID" property="id"/>
		<result column="CLIENT_ID" property="clientId"/>
		<result column="PWD" property="pwd"/>
		<result column="USERNAME" property="username"/>
		<result column="MAIL" property="mail"/>
		<result column="MAIL_VERIFY" property="mailVerify"/>
		<result column="PHONE" property="phone"/>
		<result column="PHONE_VERIFY" property="phoneVerify"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<resultMap id="userInfoBO" type="com.website.model.bo.UserInfoBO" extends="userBO">
		<id column="ID" property="id" />
		<result column="SOURCE" property="source" />
		<result column="NICKNAME" property="nickname" />
		<result column="TEL" property="tel" />
		<result column="QQ" property="qq" />
		<result column="WEIXIN" property="weixin" />
		<result column="WEIBO" property="weibo" />
		<result column="NAME" property="name" />
		<result column="SEX" property="sex" />
		<result column="IDCARD" property="idcard" />
		<result column="CERTIFICATION" property="certification" />
		<result column="CERTIFICATION_FAIL_MSG" property="certificationFailMsg" />
		<result column="PROVINCE" property="province" />
		<result column="CITY" property="city" />
		<result column="AREA" property="area" />
		<result column="ADDRESS" property="address" />
		<result column="CREATED_TIME" property="createdTime" />
	</resultMap>
	<resultMap id="userVO" type="com.website.model.vo.UserVO" extends="userInfoBO">
		<result column="CLIENT_NAME" property="clientName"/>
	</resultMap>

	<select id="check" parameterType="com.website.model.bo.UserBO" resultMap="userVO">
		SELECT
		t0.ID,t0.CLIENT_ID,t0.PWD,t0.USERNAME,t0.MAIL,t0.MAIL_VERIFY,t0.PHONE,t0.PHONE_VERIFY,t0.STATUS
		FROM `user` t0,client t1
		WHERE t0.CLIENT_ID=t1.ID AND t1.DELETED=0
		  AND t1.ID=#{clientId}
		  AND (t0.USERNAME=#{username} OR t0.MAIL=#{username} OR t0.PHONE=#{username})
		  <if test="pwd != null">
		  	  AND t0.PWD=#{pwd}
		  </if>
	</select>

	<insert id="insert" keyProperty="id" parameterType="com.website.model.bo.UserBO" useGeneratedKeys="true">
		INSERT user
		(ID,CLIENT_ID,PWD,USERNAME,MAIL,MAIL_VERIFY,PHONE,PHONE_VERIFY,STATUS)
		VALUES
		(#{id},#{clientId},#{pwd},#{username},#{mail},#{mailVerify},#{phone},#{phoneVerify},#{status})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT user
		(ID,CLIENT_ID,PWD,USERNAME,MAIL,MAIL_VERIFY,PHONE,PHONE_VERIFY,STATUS)
		VALUES
		<foreach collection="list" index="index" item="item" separator=",">
			(#{item.id},#{item.clientId},#{item.pwd},#{item.username},#{item.mail},#{item.mailVerify},#{item.phone},#{item.phoneVerify},#{item.status})
		</foreach>
	</insert>

	<update id="update" parameterType="com.website.model.bo.UserBO">
		UPDATE user
		<trim prefix="SET" suffixOverrides=",">
			<if test="clientId != null">
				CLIENT_ID=#{clientId},
			</if>
			<if test="pwd != null">
				PWD=#{pwd},
			</if>
			<if test="username != null">
				USERNAME=#{username},
			</if>
			<if test="mail != null">
				MAIL=#{mail},
			</if>
			<if test="mailVerify != null">
				MAIL_VERIFY=#{mailVerify},
			</if>
			<if test="phone != null">
				PHONE=#{phone},
			</if>
			<if test="phoneVerify != null">
				PHONE_VERIFY=#{phoneVerify},
			</if>
			<if test="status != null">
				STATUS=#{status},
			</if>
		</trim>
		WHERE id=#{id}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" separator=";">
			UPDATE user
			<trim prefix="SET" suffixOverrides=",">
				<if test="clientId != null">
					CLIENT_ID=#{item.clientId},
				</if>
				<if test="pwd != null">
					PWD=#{item.pwd},
				</if>
				<if test="username != null">
					USERNAME=#{item.username},
				</if>
				<if test="mail != null">
					MAIL=#{item.mail},
				</if>
				<if test="mailVerify != null">
					MAIL_VERIFY=#{mailVerify},
				</if>
				<if test="phone != null">
					PHONE=#{item.phone},
				</if>
				<if test="phoneVerify != null">
					PHONE_VERIFY=#{phoneVerify},
				</if>
				<if test="status != null">
					STATUS=#{item.status},
				</if>
			</trim>
			WHERE id=#{id}
		</foreach>
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM user WHERE id=#{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM user WHERE id IN
		<foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
			#{item}
		</foreach>
	</delete>

	<select id="findById" parameterType="string" resultMap="userVO">
		SELECT
		ID,CLIENT_ID,PWD,USERNAME,MAIL,MAIL_VERIFY,PHONE,PHONE_VERIFY,STATUS
		FROM user
		WHERE id=#{id}
	</select>

	<select id="queryByAnd" parameterType="com.website.model.bo.UserBO" resultMap="userVO">
		SELECT
		ID,CLIENT_ID,PWD,USERNAME,MAIL,MAIL_VERIFY,PHONE,PHONE_VERIFY,STATUS
		FROM user
		<where>
			<if test="clientId != null">
				and CLIENT_ID=#{clientId}
			</if>
			<if test="username != null">
				and USERNAME=#{username}
			</if>
			<if test="mail != null">
				and MAIL=#{mail}
			</if>
			<if test="mailVerify != null">
				and MAIL_VERIFY=#{mailVerify},
			</if>
			<if test="phone != null">
				and PHONE=#{phone}
			</if>
			<if test="phoneVerify != null">
				and PHONE_VERIFY=#{phoneVerify},
			</if>
			<if test="status != null">
				and STATUS=#{status}
			</if>
		</where>
	</select>

	<select id="queryByClient" parameterType="com.website.model.vo.UserVO" resultMap="userVO">
		SELECT
		t0.ID,t0.CLIENT_ID,t0.USERNAME,t0.MAIL,t0.MAIL_VERIFY,t0.PHONE,t0.PHONE_VERIFY,t0.STATUS,
		t1.SOURCE,t1.NICKNAME,t1.TEL,t1.QQ,t1.WEIXIN,t1.WEIBO,t1.`NAME`,t1.SEX,t1.IDCARD,t1.CERTIFICATION,t1.CERTIFICATION_FAIL_MSG,t1.PROVINCE,t1.CITY,t1.AREA,t1.ADDRESS,t1.CREATED_TIME,
		t2.NAME as CLIENT_NAME
		FROM `user` t0, user_info t1, client t2
		WHERE t0.ID=t1.ID AND t0.CLIENT_ID=t2.ID AND t2.deleted=0
		<if test="clientName != null">
			and t2.NAME=#{clientName}
		</if>
		<if test="createdBy != null">
			and t2.CREATED_BY=#{createdBy}
		</if>
		<if test="clientId != null">
			and t0.CLIENT_ID=#{clientId}
		</if>
		<if test="username != null">
			and t0.USERNAME like CONCAT('%',#{username},'%')
		</if>
		<if test="mail != null">
			and t0.MAIL like CONCAT('%',#{mail},'%')
		</if>
		<if test="mailVerify != null">
			and t0.MAIL_VERIFY=#{mailVerify},
		</if>
		<if test="phone != null">
			and t0.PHONE like CONCAT('%',#{phone},'%')
		</if>
		<if test="phoneVerify != null">
			and t0.PHONE_VERIFY=#{phoneVerify},
		</if>
		<if test="status != null">
			and t0.STATUS=#{status}
		</if>
		<if test="source != null">
			and t1.SOURCE=#{source}
		</if>
		<if test="nickname != null">
			and t1.NICKNAME like CONCAT('%',#{nickname},'%')
		</if>
		<if test="tel != null">
			and t1.TEL like CONCAT('%',#{tel},'%')
		</if>
		<if test="qq != null">
			and t1.QQ like CONCAT('%',#{qq},'%')
		</if>
		<if test="weixin != null">
			and t1.WEIXIN like CONCAT('%',#{weixin},'%')
		</if>
		<if test="weibo != null">
			and t1.WEIBO like CONCAT('%',#{weibo},'%')
		</if>
		<if test="name != null">
			and t1.`NAME` like CONCAT('%',#{name},'%')
		</if>
		<if test="sex != null">
			and t1.SEX=#{sex}
		</if>
		<if test="idcard != null">
			and t1.IDCARD like CONCAT('%',#{idcard},'%')
		</if>
		<if test="certification != null">
			and t1.CERTIFICATION=#{certification})
		</if>
		<if test="province != null">
			and t1.PROVINCE=#{province}
		</if>
		<if test="city != null">
			and t1.CITY=#{city}
		</if>
		<if test="area != null">
			and t1.AREA=#{area}
		</if>
		<if test="address != null">
			and t1.ADDRESS like CONCAT('%',#{address},'%')
		</if>
	</select>

</mapper>
