<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.PermissionRoleMenuDaoMapper">
	<resultMap type="com.erlangshen.model.bo.PermissionRoleMenuBO" id="permissionRoleFunctionBO">
		<id column="ID" property="id" />
		<result column="ROLE_ID" property="roleId" />
		<result column="MENU_ID" property="menuId" />
	</resultMap>
	<resultMap type="com.erlangshen.model.vo.PermissionRoleMenuVO" id="permissionRoleFunctionVO" extends="permissionRoleFunctionBO">
	</resultMap>

	<insert id="insert" parameterType="com.erlangshen.model.vo.PermissionRoleMenuVO" useGeneratedKeys="true" keyProperty="id">
		INSERT permission_role_menu
		(ROLE_ID,MENU_ID)
		VALUES
		(#{roleId},#{menuId})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT permission_role_menu
		(ROLE_ID,MENU_ID)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.roleId},#{item.menuId})
		</foreach>
	</insert>

	<update id="update" parameterType="com.erlangshen.model.vo.PermissionRoleMenuVO">
		UPDATE permission_role_menu
		<trim prefix="SET" suffixOverrides=",">
			<if test="roleId != null">
				ROLE_ID=#{roleId},
			</if>
			<if test="menuId != null">
				MENU_ID=#{menuId},
			</if>
		</trim>
		WHERE id=#{id}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE permission_role_menu
			<trim prefix="SET" suffixOverrides=",">
				<if test="roleId != null">
					ROLE_ID=#{item.roleId},
				</if>
				<if test="menuId != null">
					MENU_ID=#{item.menuId},
				</if>
			</trim>
			WHERE id=#{id}
		</foreach>
	</update>

	<delete id="delete" parameterType="Integer">
		DELETE FROM permission_role_menu WHERE ROLE_ID=#{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		<foreach item="item" index="index" collection="list" separator=";">
		DELETE FROM permission_role_menu
			WHERE ROLE_ID=#{item.roleId} AND MENU_ID=#{item.menuId}
		</foreach>
	</delete>

	<select id="findById" parameterType="integer" resultMap="permissionRoleFunctionVO">
		SELECT
		ID,ROLE_ID,MENU_ID
		FROM permission_role_menu
		WHERE id=#{id}
	</select>

	<select id="queryByOr" parameterType="com.erlangshen.model.vo.PermissionRoleMenuVO" resultMap="permissionRoleFunctionVO">
		SELECT
		ID,ROLE_ID,MENU_ID
		FROM permission_role_menu
		<where>
			<if test="roleId != null">
				OR ROLE_ID=#{roleId}
			</if>
			<if test="menuId != null">
				OR MENU_ID=#{menuId}
			</if>
		</where>
	</select>

	<select id="queryByAnd" parameterType="com.erlangshen.model.vo.PermissionRoleMenuVO" resultMap="permissionRoleFunctionVO">
		SELECT
		ID,ROLE_ID,MENU_ID
		FROM permission_role_menu
		<where>
			<if test="roleId != null">
				AND ROLE_ID=#{roleId}
			</if>
			<if test="menuId != null">
				AND MENU_ID=#{menuId}
			</if>
		</where>
	</select>

</mapper>