<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erlangshen.dao.PermissionRoleDaoMapper">
	<resultMap type="com.erlangshen.model.bo.PermissionRoleBO" id="permissionRoleBO">
		<id column="ID" property="id" />
		<result column="CLIENT_ID" property="clientId" />
		<result column="ROLE" property="role" />
	</resultMap>
	<resultMap type="com.erlangshen.model.vo.PermissionRoleVO" id="permissionRoleVO" extends="permissionRoleBO">
	</resultMap>

	<insert id="insert" parameterType="com.erlangshen.model.vo.PermissionRoleVO" useGeneratedKeys="true" keyProperty="id">
		INSERT permission_role
		(CLIENT_ID,ROLE)
		VALUES
		(#{clientId},#{role})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT permission_role
		(CLIENT_ID,ROLE)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.clientId},#{item.role})
		</foreach>
	</insert>

	<update id="update" parameterType="com.erlangshen.model.vo.PermissionRoleVO">
		UPDATE permission_role
		<trim prefix="SET" suffixOverrides=",">
			<if test="clientId != null">
				CLIENT_ID=#{clientId},
			</if>
			<if test="role != null">
				ROLE=#{role},
			</if>
		</trim>
		WHERE id=#{id}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE permission_role
			<trim prefix="SET" suffixOverrides=",">
				<if test="clientId != null">
					CLIENT_ID=#{item.clientId},
				</if>
				<if test="role != null">
					ROLE=#{item.role},
				</if>
			</trim>
			WHERE id=#{id}
		</foreach>
	</update>

	<delete id="delete" parameterType="Integer">
		DELETE FROM permission_role WHERE id=#{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM permission_role WHERE id IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="findById" parameterType="integer" resultMap="permissionRoleVO">
		SELECT
		ID,CLIENT_ID,ROLE
		FROM permission_role
		WHERE id=#{id}
	</select>

	<select id="queryByOr" parameterType="com.erlangshen.model.vo.PermissionRoleVO" resultMap="permissionRoleVO">
		SELECT
		ID,CLIENT_ID,ROLE
		FROM permission_role
		<where>
			<if test="clientId != null">
				OR CLIENT_ID=#{clientId}
			</if>
			<if test="role != null">
				OR ROLE=#{role}
			</if>
		</where>
	</select>

	<select id="queryByAnd" parameterType="com.erlangshen.model.vo.PermissionRoleVO" resultMap="permissionRoleVO">
		SELECT
		ID,CLIENT_ID,ROLE
		FROM permission_role
		<where>
			<if test="clientId != null">
				AND CLIENT_ID=#{clientId}
			</if>
			<if test="role != null">
				AND ROLE=#{role}
			</if>
		</where>
	</select>

	<select id="queryByUser" parameterType="String" resultMap="permissionRoleVO">
		SELECT
		t1.ID,t1.ROLE
		FROM permission_role t1, permission_user_role t2
		WHERE t1.ID=t2.ROLE_ID AND t2.USER_ID=#{userId}
		<if test="clientId != null">
			AND CLIENT_ID=#{clientId}
		</if>
	</select>

</mapper>