<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erlangshen.dao.ValidateDaoMapper">
	<resultMap type="com.erlangshen.model.bo.ValidateBO" id="validateBO">
		<result column="USER_ID" property="userId" />
		<result column="TYPE" property="type" />
		<result column="CODE" property="code" />
		<result column="CREATED_TIME" property="createdTime" />
	</resultMap>
	<resultMap type="com.erlangshen.model.vo.ValidateVO" id="validateVO" extends="validateBO">
	</resultMap>

	<insert id="insert" parameterType="com.erlangshen.model.vo.ValidateVO" useGeneratedKeys="true">
		INSERT validate
		(USER_ID,TYPE,CODE,CREATED_TIME)
		VALUES
		(#{userId},#{type},#{code},#{createdTime})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT validate
		(USER_ID,TYPE,CODE,CREATED_TIME)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userId},#{item.type},#{item.code},#{item.createdTime})
		</foreach>
	</insert>

	<update id="update" parameterType="com.erlangshen.model.vo.ValidateVO">
		UPDATE validate
		<trim prefix="SET" suffixOverrides=",">
			<if test="code != null">
				CODE=#{code},
			</if>
			<if test="createdTime != null">
				CREATED_TIME=#{createdTime},
			</if>
		</trim>
		WHERE USER_ID=#{userId} AND TYPE=#{type}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE validate
			<trim prefix="SET" suffixOverrides=",">
				<if test="code != null">
					CODE=#{item.code},
				</if>
				<if test="createdTime != null">
					CREATED_TIME=#{item.createdTime},
				</if>
			</trim>
			WHERE USER_ID=#{userId} AND TYPE=#{type}
		</foreach>
	</update>

	<delete id="delete" parameterType="com.erlangshen.model.vo.ValidateVO">
		DELETE FROM validate
		WHERE USER_ID=#{userId}
		<if test="type != null">
			AND `TYPE`=#{type}
		</if>
		<if test="code != null">
			AND CODE=#{code}
		</if>
	</delete>

	<select id="queryByOr" parameterType="com.erlangshen.model.vo.ValidateVO" resultMap="validateVO">
		SELECT
		USER_ID,`TYPE`,CODE,CREATED_TIME
		FROM validate
		<where>
			<if test="userId != null">
				or USER_ID=#{userId}
			</if>
			<if test="type != null">
				or TYPE=#{type}
			</if>
			<if test="code != null">
				or CODE=#{code}
			</if>
		</where>
	</select>

	<select id="queryByAnd" parameterType="com.erlangshen.model.vo.ValidateVO" resultMap="validateVO">
		SELECT
		USER_ID,`TYPE`,CODE,CREATED_TIME
		FROM validate
		<where>
			<if test="userId != null">
				and USER_ID=#{userId}
			</if>
			<if test="type != null">
				and TYPE=#{type}
			</if>
			<if test="code != null">
				and CODE=#{code}
			</if>
		</where>
	</select>

</mapper>